@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <body id="page-top">
            <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Ezekiel Timpug</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Projects/Awards</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
        </div>
        
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Ezekiel 
                        <span class="text-primary">Timpug</span>
                    </h1>
                    <div class="subheading mb-5">
                        Purok 1 #17 Tucop, Dinalupihan, Bataan (63) 926-474-7403
                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=new">ezekieltimpug@gmail.com</a>
                    </div>
                    <p class="lead mb-5">I am a student beginning my journey in programming, eager to learn and apply new concepts. I focus on building a strong foundation through small projects and iterative practice, which helps me improve step by step. I enjoy exploring different programming languages, solving problems, and developing the skills that will prepare me for bigger challenges ahead.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/ezekiel-condalor-010240359/"target="_self"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/Ezkl01" target="_self"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://x.com/EzekielTim2000" target="_self"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/ezekiel.condalor" target="_self"> <i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Student</h3>
                            <div class="subheading mb-3">Learning how to code</div>
                            <p>Apart from being a student starting my journey in programming, I am passionate about exploring new concepts in C# and building small projects to sharpen my skills. Step by step, I aim to grow as a developer while enjoying the learning process.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">september - Present</span></div>
                    </div>  
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0"></h3>
                            <div class="subheading mb-3"></div>
                            <p></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"></span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0"></h3>
                            <div class="subheading mb-3"></div>
                            <p></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"></span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0"></h3>
                            <div class="subheading mb-3"></div>
                            <p></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"></span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Binakayan Elementary School - Cavite</h3>
                            <div class="subheading mb-3">Kinder - Grade 6</div>
                            <div></div>
                            <p></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2012 - 2018</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Emiliano Tria Tirona Memorial National Integrated High School - Cavite</h3>
                            <div class="subheading mb-3">Science Technology Engineering and mathematics</div>
                            <p>With honors</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2018 - 2024</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3"></div>
                    <ul class="list-inline dev-icons">
                        <p>•Reliable •Positive Thinker •Accountable</p>
                    <p class="mb-0">•Creative •Active Listener</p>
                </div>

                    </ul>
                    <div class="subheading mb-3"></div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from being a student who is just beginning to learn programming, I enjoy spending much of my time exploring code. I especially love working with C#, where I practice building small projects and learning new concepts step by step.</p>
                    <p class="mb-0">When I’m outdoors, I love playing badminton, biking, and enjoying different activities that keep me active and inspired.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Conducted a Quantitative research entitled: The Effect of Broken Family on Academic Perfomance of Grade 10 Students of Emiliano Tria Tirona Memorial National Integrated High School for S.Y 2022-2023
                        </li>
                         <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Conducted a Experimental research entitled: TAXOVENT:Development and evaluation of a Biology Gaming Application as a Learning Material for STEM students in ETTMNISH for S.Y 2023-2024
                        </li> 
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            With Honors Grade 10 - 12
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Award for Research
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Award for Innovation
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Award for Work Immersion
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
    